@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
	/* ----color variables----- */
	--secondaryBg: rgb(255, 255, 255);
	--thirdBg: rgb(4, 17, 22);
	--primaryColor: rgb(1, 27, 51);
	--secondaryColor: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, "sans-serif";
}

.home-container {
	background-color: var(--secondaryBg);
	color: var(--primaryColor);
	font-size: 24px;
	padding: 40px 200px;
}

.home-container h2 {
	border-bottom: 3px solid var(--primaryColor);
}

@media screen and (max-width: 768px) {
	.home-container {
		font-size: 18px;
		padding: 5px 20px;
	}
}
